<!DOCTYPE html>
<html>
<head>
	<title>FlyWin</title>
	<meta charset="utf-8" />
	<link rel="icon" href="http://www.sucaitianxia.com/png/UploadFiles_6130/200807/20080702001842956.png"/>
	<script data-main="./js/main" async="async" src="./js/commen/require.js"></script>
	<link rel="stylesheet" type="text/css" href="./css/fw.css" />
	
	<script type="text/template" id="header_tmpl">
		<ul>
			<% for(var i=0;i<value.length;i++){ %>
			<li class="menu-item" id="item<%= value[i].attributes.position %>">
				<% if(value[i].attributes.title!="") %>
				<a href="#info/<%= value[i].attributes.position %>" class="menu"><%= value[i].attributes.title %></a>
			</li>
			<% }%>
		</ul>
		<div id="goTop"></div>
	</script>
	<script type="text/template" id="main_tmpl_carousel1">
		<img src="http://www.htc.com/assets/layout/img/slider-arrow-left.png" class="picBtn" id="picPrivious">
		<img src="http://www.htc.com/assets/layout/img/slider-arrow-right.png" class="picBtn" id="picNext">
		<div id="fw_carousel">
			<ul id="carousel">
				<% for(var i=0;i<value.length;i++) {%>
				<li class="pic-item" id="pic<%= value[i].attributes.picId %>">
					<% if(value[i].attributes.picName!="") %>
					<a href="#" class="pic">
						<img src="<%= value[i].attributes.picUrl%>" alt="<%= value[i].attributes.picName%>" />
					</a>
				</li>
				<%}%>
			</ul>	
		</div> 
		
	</script>
	<script type="text/template" id="main_tmpl_carousel2">
		<ul id="carouselPager">
			<% for(var i=1;i<value.length-1;i++) {%>
			<li class="pager-item" id="pager<%= value[i].attributes.picId %>">
				<span class="pager-box" ><%= value[i].attributes.picId%></span>
			</li>
			<%}%>
		</ul>
	</script>
</head>
<body>
<div id="site">
	<div id="Header">
		<div id="header">
			<a href="./index.html" id="fw_logo">
				<img src="http://www.sucaitianxia.com/png/UploadFiles_6130/200807/20080702001842956.png" alt="logo" />
				<span> FlyWin</span>
			</a>	
			<div id="fw_navig">
				登录 注册 客服 帮助      
			</div>
			<div id="fw_header">

			</div>
			<div  id="fw_search" >
				<form method="get" name="" action="">
					<input type="submit" name="" class="submit" value="">
					<input type="text" name="" class="text" placeholder="请输入文字"/>
				</form>
			</div>

		</div>
	</div>


	<div id="fw_main">
		<div id="mainSon"></div>
	</div>
	<div id="fw_content">
		<a href="./sale.html">
			<div id="box1" class="boxs">
				<div class="boxsSon"></div>
			</div>
		</a>
		<a href="./vip.html">
			<div id="box2" class="boxs">
				<div class="boxsSon"></div>
			</div>
		</a>
		<a href="./vive.html">
			<div id="box3" class="boxs">
				<div class="boxsSon"></div>
			</div>
		</a>

		<div class = "daughter"></div>  

	</div>
	<div id="fw_mvContent">
		<h2>超越极限 十分，完美</h2>
		<div id="mvContent">
			<div class="divMv"></div>
			<div class="divMv"></div>
			<div class="divMv"></div>
			<div class="divMv"></div>
			<div class="divMv"></div>
			<div class="divMv"></div>
		</div>
		<div id="buyContent">
			<a href="./vive.html">迎接 htc 10</a>
			<a href="./sale.html">立即购买</a>
		</div>
		<div id="mask"></div>
		<div id="mvPlayer"></div>
	</div>
	<div id="Products">
		<div id="fw_products">
			<h2>立即购买，马上拥有</h2>
			<div id="productsContent">
				<a href="#" class="divProducts">
					<div id="product1" class="divProduct"></div>
					<h3>HTC 10</h3>
					<div class="buyButton">立即購買</div>
				</a>
				<a href="#"  class="divProducts">
					<div id="product2" class="divProduct"></div>
					<h3>HTC One X9 dual sim</h3>
					<div class="buyButton">立即購買</div>
				</a>
				<a href="#" class="divProducts">
					<div id="product3" class="divProduct"></div>
					<h3>HTC Desire 530</h3>
					<div class="buyButton">立即購買</div>
				</a>
				<a href="#" class="divProducts">
					<div id="product4" class="divProduct"></div>
					<h3>HTC One A9</h3>
					<div class="buyButton">立即購買</div>
				</a>
				<a href="#" class="divProducts">
					<div id="product5" class="divProduct"></div>
					<h3>HTC One M9+ 光學防手震極速對焦</h3>
					<div class="buyButton">立即購買</div>
				</a>
				<a href="#" class="divProducts">
					<div id="product6" class="divProduct"></div>
					<h3>HTC Desire 728 dual sim</h3>
					<div class="buyButton">立即購買</div>
				</a>
			</div>
			<a href="#" id="diivShowAll">查看所有智慧型手机</a>

		</div>
	</div>

	<div id="Footer">
		
		
		<div id="fw_footer">
			
			<div id="footer">
				<div class="region-block">
					<div class="click-area">
						<div class="region-text">中国</div>
						<div class="globle"></div>
					</div>
					<div class="left-declaration-block">© 2016 angrysmeagol.top</div>
				</div>
				<div class="arrow-block">
					<div class="arrow-icon"></div>
				</div>
				<div class="connect-block">
					<div class="right-declaration-block">
						<a href="#">使用angrysmeagol前必读</a>
						<a href="#">意见反馈</a>
					</div>
					<div class="click-area">
						<div class="dot-grey"></div>
						<div class="default-area">分享</div>
					</div>
				</div>
			</div>
			<div id="footer-block">
				<div class='close'></div>
				<h2>国家／地区</h2>
				<script type="text/template" id="footer_tmpl_countery">
					<% for(var i=0;i<4;i++){ %>
						<ul>
							<% if(i==3){ %>
								<% for(var j=length[i];j<value.length;j++){ %>
									<li class=""><%= value[j] %></li>
								<% }%>	
							<%}else{%>
							<% for(var j=length[i];j<length[i+1];j++){ %>
								<li class=""><%= value[j] %></li>
							<% }}%>
						</ul>
					<% } %>
				</script>
				
			</div>
			
			<div id="more-block">
				<script type="text/template" id="footer_tmpl_more">
					<ul class="link4">
						<% for(var i=0;i<3;i++){%>
						<ul class="link-title" id="<%= value.keys[i]%>">
							<div><%= value.keys[i]%></div>
							<% for(var j=0;j<value.values[i].length;j++){%>
							<li class="link-value"><%= value.values[i][j]%></li>
							<%}%>
						</ul>
						<%}%>	
					</ul>
					<ul class="link4">
						<% for(var i=3;i<5;i++){%>
						<ul class="link-title" id="<%= value.keys[i]%>">
							<div><%= value.keys[i]%></div>
							<% for(var j=0;j<value.values[i].length;j++){%>
							<li class="link-value"><%= value.values[i][j]%></li>
							<%}%>
						</ul>
						<%}%>	
					</ul>
					<ul class="link4">
						<% for(var i=5;i<7;i++){%>
						<ul class="link-title" id="<%= value.keys[i]%>">
							<div><%= value.keys[i]%></div>
							<% for(var j=0;j<value.values[i].length;j++){%>
							<li class="link-value"><%= value.values[i][j]%></li>
							<%}%>
						</ul>
						<%}%>	
					</ul>
					<ul class="link4">
						<% for(var i=7;i<9;i++){%>
						<ul class="link-title" id="<%= value.keys[i]%>">
							<div><%= value.keys[i]%></div>
							<% for(var j=0;j<value.values[i].length;j++){%>
							<li class="link-value"><%= value.values[i][j]%></li>
							<%}%>
						</ul>
						<%}%>	
					</ul>
				</script>	
				<div id="more-block-right">
					<h2>FlyWin</h2>
					<div>
						<p>Copyright © 2016 angrysmeagol.top。 著作權所有，並保留一切權利。</p>
					</div>
					<div>
						<a href="#">使用条款</a>
						<a href="#">隐私权政策</a>
					</div>
				</div>
			</div>
			<div id="share-block">
				<div class="close"></div>
			</div>
		</div>
	</div>

	<!-- <video width="320" height="240" controls="controls">
		 <source src="./source/vivo.mp4" type="video/mp4" />

	</video> -->
</div>
	
</body>
</html>
